/* Fonts we can use 
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
*/
html {
    --banner-font: 'Playfair Display', serif;
    --header-font: 'Raleway', sans-serif;
}

html {
    transition: 3s smooth;
    scroll-behavior: smooth;
}

i:hover {
    cursor: pointer;
}
.btn:hover {
    cursor: pointer;
}

.status {
    cursor: pointer;
}

#items>li {
    cursor: grab;
}

#header-title {
    background: rgb(245, 245, 245);
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--banner-font);
    border: 1px inset silver;
    box-shadow: rgba(49, 49, 49, 0.445) 0px 2px 10px 5px;
}

#budgetContainer {
    padding: 20px 0px !important;
}

#budgetContainer>h1 {
    font-family: var(--header-font);
    font-size: 15px;
    margin: 5px 1vw;
    padding: 10px 20px;
    border: 1px inset silver;
    box-shadow: rgba(49, 49, 49, 0.445) 0px 2px 10px 5px;
}

#submitActivityContainer>h1 {
    font-family: var(--header-font);
    color: black !important;
    border: 1px inset silver;
    border-radius: 5px;
    box-shadow: rgba(49, 49, 49, 0.445) 0px 2px 10px 5px;
    background: rgb(245, 245, 245);
    padding: 4px;
    margin: 20px 0px 20px 0px;
    font-size: 30px;
}

#ActivityContainer>h1 {
    font-family: var(--header-font);
    color: black !important;
    border: 1px inset silver;
    border-radius: 5px;
    box-shadow: rgba(49, 49, 49, 0.445) 0px 2px 10px 5px;
    background: rgb(245, 245, 245);
    padding: 4px;
    margin: 20px 0px 30px 0;
    font-size: 30px;
}